
#map {
    min-height: 500px;
    width: 100%;
}



.infobox-wrapper {
 	display:none;
}

.info-box {
    border:2px solid #e4e4e4;
    margin-top: 8px;
    background:#ffffff;
    padding:20px;
	min-width:250px;
	max-width:300px;
}	

.info-box p{
	color: #e82a2a;
}