
*::-moz-selection {
    background-color: #e82a2a;
}

body,html{
	height:100%;
	width:100%;
}

body{

   font-family: 'Open Sans', sans-serif;
	background:#ffffff;
}

h1,h2,h3,h4,h5,h6{
	color: #000007;
	font-family: 'Montserrat', sans-serif !important;
	text-transform:capitalize;
}

h1{
	font-size: 36px;
    font-weight: 300;
}

p,button, input, optgroup, select, textarea{
  font-family: 'Open Sans', sans-serif;
}

/*input[type="text"], input[type="email"], input[type="url"], input[type="search"]{
	height:45px;
	border-radius:1px;
	border:none;
	background:#ffffff;
	font-family: 'Montserrat', sans-serif;
	border:1px solid #e4e4e4;
}*/

input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, textarea.s-form-control:focus{
	border-color:#e82a2a;
}

textarea.s-form-control{
	border-radius:1px;
	background:#ffffff;
	border:1px solid #e4e4e4;
	font-family: 'Montserrat', sans-serif;
}

.s-form-control::-moz-placeholder{
	color:#999999;
	font-family: 'Open Sans', sans-serif;
}

.s-in {
    padding: 15px;
    position: relative;
	overflow:hidden;
}

.header-wrp{
	background:none;
	
}

.site-color{
	color:#e82a2a;
}

.site-bckg{
	background:#e82a2a;
}

/*

.pg-btn{
	background:#e82a2a;
	text-transform:uppercase;
	font-family: 'Montserrat', sans-serif;
	position:relative;
	!*display:block;
	height:40px;
	line-height:40px;
	width:150px;*!
	padding:12px 15px;
	display:inline-block;
}



.pg-btn em{
	color:#ffffff;
	z-index:9999;
	!*text-align:center;*!
	width:100%;
	position:relative;
	display:block;
}

.pg-btn::after{
	content:"";
	width:0;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	background:#a91515;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s;
	transition: all ease 0.5s;
}

.pg-btn:hover::after{
	width:100%;
}
*/

.top-header-wrp{
	background:#16242e;
	padding:20px 0;
}

.q-addr{
	display:block;
	padding-left:24px;
	position:relative;
	text-transform:capitalize;
	font-weight:600;
	font-size:13px;
}

.q-addr::before{
	content: "\f041";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
	color: #e82a2a;
	font-size:17px;
	position: absolute;
    top: 0;
    left: 0;
}

.top-social-media ul{
	float:right;
}

.top-social-media li{
	float:left;
	display:block;
}

.top-social-media li a{
	display:block;
	padding:0 12px;
}

.top-social-media li a:hover{
	color:#e82a2a;
}

.logo-block{
	padding:50px 0;
}

.logo-block::before{
	background:#e82a2a;
    content: "";
    height: 100%;
    position: absolute;
    right: 100%;
    top: 0;
    width: 1200px;
}

.logo-block::after {
    border-left: 0 solid #e82a2a;
    border-right: 120px solid transparent;
    border-top: 120px solid #e82a2a;
    content: "";
    height: 0;
    position: absolute;
    right: -120px;
    top: 0;
    width: 0;
}

.logo-a{
	display:block;
	width:90px;
}

.contact-block{
	padding-left:70px;
	position:relative;
	padding-top:7px;
}

.contact-block span{
	font-size:12px;
	text-transform:capitalize;
	font-weight:600;
	font-family: 'Montserrat', sans-serif;
}

.contact-block em{
	font-size:12px;
	font-family: 'Montserrat', sans-serif;
	color:#89898f;
}

.contact-block::before{
	font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
	color: #e82a2a;
	font-size:22px;
	position: absolute;
    top: 11px;
    left: 16px;
}

.fax-block::before{
	content:"\f1ac";
}

.mail-block::before{
	content:"\f003";
}

.phone-block::before{
	content:"\f095";
}

.contact-block::after{
	content:"";
	position:absolute;
	left:0;
	top:-3px;
	width:55px;
	height:55px;
	border:1px solid #e4e4e4;
}

.quick-contact-block{
	float:right;
	margin-top:40px;
}

.quick-contact-block li{
	float:left;
	margin-right:30px;
}


.quick-contact-block li:last-child{
	margin-right:0;
}

.q-call-wrp{
	background:#58bc61;
	padding: 12px 14px;
    right: -14px;
    top: -10px;
}

.q-call-lbl{
	display:block;
	text-align:center;
	position:relative;
	color:#2f823b;
	text-transform:uppercase;
	font-family: 'Montserrat', sans-serif;
}

.q-call-txt{
	display:block;
	text-align:center;
	position:relative;
	color:#ffffff;
	font-size:16px;
	padding:0 20px;
	font-family: 'Montserrat', sans-serif;
}



.s-nav{
	background:#16242e;
	bottom:-35px;
	left:0;
	position:absolute;
	z-index:9999;
}

.s-nav-ul{
	float:none;
	display:table;
	margin:0 auto;
}
.s-dropdwn-menu
{
    display: block;
}
.search-box
{
	margin-top:20px;
}

#auto_suggest
{
	width:100%;
	height:45px;
	border:1px solid #e82a2a;
}
#search_but
{
	height:45px;
	position: absolute;
	right:0;
	top: 0;
	width: 64px;
	background:#e82a2a;
	cursor:pointer;
}
#search_but:hover
{
	background:#a8304c;
}
#search_but::before
{
	position:absolute;
	content:"\f002";
	top:8px;
	right:24px;
	font-family:FontAwesome;
	font-size:18px;
	color:#fff;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	cursor:pointer;
}

.s-nav-ul > li > a{
	line-height:60px;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
}

.s-nav-ul > li.active > a, .s-nav-ul > li > a:hover{
	color:#e82a2a;
}

.slide-meta{
	background: rgba(51, 51, 51, 0.5);
	padding:15px;
}

.slide-meta h1{
	color:#e82a2a;
	padding:0 !important;
}

.slide-meta p{
	color:#ffffff;
}


.main-block-wrp{
	background:#f8f9f9;
}

.each-content-block{
	background: #fff none repeat scroll 0 0;
    border: 1px solid #e7e7e7;
    overflow: hidden;
    padding-bottom: 72px;
	margin-bottom:30px;
    position: relative;
	 box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
	 -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
}
a
{
	text-decoration:none !important;
}

.image-header a{
	width:100%;
	height: auto;
	display:block;
}
.image-header a img
{
	height:150px !important;
}


.featured-content {
  background-color: #ffffff;
  border-top: 5px solid #e82a2a;
  left: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom:20px;
  position: absolute;
  top: 100%;
  -webkit-transform: translateY(-72px);
  -ms-transform: translateY(-72px);
  transform: translateY(-72px);
  transition: .4s transform ease;
  -webkit-transition: .4s transform ease;
	-moz-transition: .4s transform ease;
	-o-transition: .4s transform ease;
	-ms-transition: .4s transform ease;
  width: 100%;
}

.feat-icon{
	display:block;
	
	width:65px;
	height:65px;
	text-align:center;
	line-height:65px;
	color:#ffffff;
	font-size:24px;
	position:relative;
	left:-20px;
	float:left;
}

.feat-icon::after{
	content:"";
	position:absolute;
	background:#e82a2a;
	width:100%;
	height:100%;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s;
	transition: all ease 0.5s;
	left:0;
	top:0;
	z-index:-1;
}

.feat-title{
	font-size:13px;
	text-transform:uppercase;
	line-height:70px;
}

.each-content-block:hover .featured-content {
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}

.each-content-block:hover .feat-icon::after{
	width:0;
}

.each-content-block:hover .feat-icon{
	color:#e82a2a;
}

.link-txt{
	font-family: 'Montserrat', sans-serif;
	color:#e82a2a;
	text-transform:uppercase;
}

.link-txt:hover{
	color:#000007;
}


.serv-solu-wrp{
	background:#ffffff;
	padding-top:40px;
}

.info-sol-img{
	display:block;
	width:100%;
}

.each-serv-info{
	margin-bottom:70px;
}

.serv-info-title{
	display:block;
	color:#000000;
	position:relative;
	padding-left:34px;
	font-family: 'Montserrat', sans-serif;
	text-transform:uppercase;
	padding-bottom:10px;
	font-size:20px;
}

.serv-info-title::before{
	font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
	color: #e82a2a;
	font-size:26px;
	position: absolute;
    top: 0;
    left: 0;
}

.serv-info-title.full-serv-info::before{
	content:"\f0f7";
}

.serv-info-title.maintenance-serv-info::before{
	content:"\f0f2";
}

.serv-info-title.finish-serv-info::before{
	content:"\f1b2";
}

.serv-info-title.deliver-serv-info::before{
	content:"\f0d1";
}

.each-serv-info p{
	font-size:13px;
}

.each-serv-info .link-txt{
	font-size:13px;
}

.shrt-abt-wrp{
	background:url(../images/statement.jpg) no-repeat center center;
	padding:120px 0;
}

.shrt-abt-content h1{
	text-transform:uppercase;
	color:#ffffff;
}

.shrt-abt-content{
	width:70%;
}

.shrt-abt-content p{
	color:#ffffff;
}

.shrt-abt-content .pg-btn{
	margin-top:15px;
}

.each-project{
	padding:10px;
}

.project-in{
	background: #fff none repeat scroll 0 0;
    border: 1px solid #e7e7e7;
   margin-bottom:30px;
    position: relative;
	 box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
	 -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
}

.image-holder a{
	display:block;
	width:100%;
}

.prjct-title h3 a{
	display:block;
	text-transform:uppercase;
	font-size:17px;
	color:#000007;
}

.prjct-title{
	border-bottom:1px solid #e4e4e4;
}

.prjct-title h3{
	padding-bottom:0;
}

.prjct-title h3 a{
	padding:16px;
	display:block;
	position:relative;
}

.prjct-content{
	padding:10px 17px 0;
}

.btn-shadow{
	overflow:visible;
	background: #e82a2a;
    color: #ffffff;
	font-size: 12px;
    padding: 11px 28px;
	bottom: -7px;
	left:16px;
    position: relative;
	display:inline-block;
	font-family: 'Montserrat', sans-serif;
}

.btn-shadow::before{
	content:"";
	width:0;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	background:#a91515;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s;
	transition: all ease 0.5s;
}

.btn-shadow:hover::before{
	width:100%;
}

.btn-shadow::after{
	border-color: #595959 transparent transparent;
    border-style: solid;
    border-width: 4px 4px 0 0;
    bottom: 3px;
    content: "";
    height: 0;
    position: absolute;
    right: -4px;
    width: 0;
	
}

.btn-shadow em{
	color: #ffffff;
	text-transform:uppercase;
	font-size: 12px;
	z-index:99999;
	position:relative;
	
}

.sub-title{
	display:block;
	position:relative;
	padding-bottom:15px;
	margin-bottom:20px;
	font-size:24px;
}

.sub-title::before{
	content:"";
	width:50px;
	height:2px;
	position:absolute;
	left:0;
	bottom:0;
	background:#e82a2a;
}

.owl-theme .owl-controls .owl-buttons div{
	background:#e82a2a;
	
	border-radius:1px;
	width:30px;
	height:30px;
	color:#ffffff;
	position:relative;
	margin:2px;
}

.owl-theme .owl-controls .owl-buttons div:hover{
	opacity:1;
}

.owl-theme .owl-controls .owl-buttons div::before{
	position:absolute;
	left:50%;
	margin-left:-5px;
	top:4px;
	color:#ffffff;
	font-size:21px;
	font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

.owl-theme .owl-controls .owl-buttons div.owl-prev::before{
	content:"\f104";
}

.owl-theme .owl-controls .owl-buttons div.owl-next::before{
	content:"\f105";
}

/*
.owl-theme .owl-controls {
	margin:0;
	position:absolute;
	top:-50px;
	right:0;
}
*/

.testimonial-wrp{
	background:url(../images/testimonial.JPG) no-repeat center center;
	padding:60px 0;
}

.testi-au-img {
    border-radius: 150px;
    height: 100px;
    left: 10px;
    overflow: hidden;
    position: relative;
    top: 24px;
    width: 100px;
    z-index: 999999;
}

.testi-short {
	border:none !important;
   border-top:2px solid #e82a2a !important;
    border-image: none;
    border-style: solid;
    padding-top: 12px;
}

.testi-au {
    color: #e82a2a;
    font-size: 12px;
	padding-left:16px;
	text-transform:capitalize;
}

.testi-p {
    font-style: italic;
    padding: 16px;
    position: relative;
}

.testi-p::before {
    color: #cccccc;
    content: "\f10d";
    font-family: FontAwesome;
    font-size: 21px;
    font-style: normal;
    font-weight: normal;
    left: 0;
    opacity: 0.75;
    position: absolute;
    text-decoration: inherit;
    top: 0;
}

.testi-content{
	background:#ffffff;
}


.client-logo{
	
	-webkit-filter: grayscale(100%);
    filter: grayscale(100%);
	display:block;
	width:200px;
}

.client-logo:hover{
	-webkit-filter: grayscale(0%); 
    filter: grayscale(0%);
}

.client-block .owl-controls{
	display:none !important;
}

.footer-wrp{
	background:#171717;
}

.footer-logo{
	width:100px;
	
}

.footer-content{
	padding-top:20px;
}

.footer-content p{
	font-size:13px;
}

.quick-contact-footer li{
	clear:both;
	position:relative;
	margin-bottom:8px;
}

.quick-contact-footer li span{
	display:block;
	position:relative;
	padding:7px 0 0 35px;
}

.quick-contact-footer li span::before{
	
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
	color: #e82a2a;
	font-size:17px;
	position: absolute;
    top: 8px;
    left: 0;
}

.quick-contact-footer li span.foot-addr::before{
	content:"\f041";
}

.quick-contact-footer li span.foot-phone::before{
	content:"\f095";
}

.quick-contact-footer li span.foot-fax::before{
	content:"\f1ac";
}

.quick-contact-footer li span.foot-mail::before{
	content:"\f003";
}

.quick-contact-footer li span::after{
	content:"";
   	background: #2e2e2e;
	width:1px;
	height:100%;
	position: absolute;
    top: 0;
    left:24px;
}

.footer-title{
	display:block;
	color:#ffffff;
	text-transform:uppercase;
	border-bottom:1px solid #2f2f2f;
	position:relative;
	font-size:17px;
	padding-bottom:15px;
}

.footer-title::before{
	content:"";
	position:absolute;
	width:40px;
	height:3px;
	bottom:-1px;
	left:0;
	background:#e82a2a;
}

.cnt-txt{
	padding-top: 17px;
}

.social-footer-wrp{
	padding-top:0;
}

.quick-nav-footer li{
	float:left;
	position:relative;
	display:block;
	width: calc(50% - 2px);
	margin-bottom: 25px;
}

.quick-nav-footer li a{
	display:block;
	position:relative;
	padding-left:21px;
	font-size:13px;
	text-transform:capitalize;
}

.quick-nav-footer li a::before{
	content:"\f105";
	font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
	color: #2f2f2f;
	font-size:17px;
	position: absolute;
    top: 0;
    left: 0;
}

.quick-nav-footer li a:hover{
	color:#e82a2a;
}

.social-nav-footer li{
	display:block;
	float:left;
}

.social-nav-footer li a{
	display:block;
	position:relative;
	font-size:14px;
	padding-right:30px;
}

.social-nav-footer li a:hover{
	color:#e82a2a;
}

.working-hours {
    border-collapse: separate;
    border-spacing: 0 6px;
    width: 100%;
	border: 2px solid #2e2e2e;
	margin:15px 0;
}

.working-hours th, .working-hours td{
	border: medium none;
    padding: 1px 7px;
	vertical-align: middle;
	font-size:13px;
}

.working-hours tr{
	border-bottom:1px solid #2f2f2f;
	display:table;
	width:100%;
}
.working-hours tr:last-child{
	border-bottom:none;
}

.working-hours th{
	border-radius: 3px 0 0 3px;
    font-weight: 400;
	text-align: left;
}

.working-hours td {
    color: #ffffff;
	border-radius: 0 3px 3px 0;
    text-align: right;
    white-space: nowrap;
}

.rec-news-list li{
	clear:both;
	overflow:hidden;
	margin-bottom:30px;
	position:relative;
}

.rec-news-title{
	display:block;
	color:#ffffff;
	clear:both;
	padding-bottom:15px;
	text-transform:capitalize;
	font-family: 'Montserrat', sans-serif;
}

.rec-news-date{
	position:relative;
	padding-left:24px;
	color:#7f7f7f;
	display:block;
	clear:both;
	font-size:12px;
	text-transform:uppercase;
}

.rec-news-date::before{
	content:"\f073";
	font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
	color: #e82a2a;
	font-size:14px;
	position: absolute;
    top: 0;
    left: 0;
}

.subscribe-form .s-form-group{
	margin:0;
	padding:0;
}

.subscribe-txt {
    padding-right: 65px !important;
	font-size:12px;
	font-family: 'Open Sans', sans-serif !important;
}

.subscribe-btn{
	position:absolute;
	background:#e82a2a;
	height:45px;
	padding:0 30px;
	top:0;
	right:0;
}

.subscribe-btn::before{
	content:"\f0e0";
	font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
	color: #ffffff;
	font-size:17px;
	position: absolute;
    top: 50%;
	margin-top:-10px;
    left: 50%;
	margin-left:-7px;
}

.copyright-wrp{
	border-top:1px solid #151515;
	background:#000000;
	padding:15px 0;
}

.copy-txt{
	color:#7f7f7f;
}

.dwnlod-bro{
	margin-left:15px;
}

.dwnlod-bro em{
	position:relative;
	padding-left: 35px;
}

.dwnlod-bro em::before{
	content:"\f1c1";
	font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
	color: #ffffff;
	font-size:21px;
	position: absolute;
    top: -2px;
    left: 0;
}

.dwnlod-bro em::after{
	content:"";
	width:1px;
	height:40px;
	background:#c21010;
	position: absolute;
    top: -12px;
    left: 27px;
}

.s-dropdwn-menu{
	background:#ffffff;
	 box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
	 -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
}

.s-dropdwn-menu li a{
	color:#767676;
	font-family: 'Montserrat', sans-serif;
	border-bottom:1px solid #e4e4e4;
	font-size:12px;
	text-transform:uppercase;
	font-weight:300;
}


.s-dropdwn-menu li a:hover, .s-drp-active > a{
	color:#e82a2a !important;
}

.pg-title-wrp{
	background:url(../images/breadcrumb.jpg) no-repeat center center;
	padding:60px 0;
}

.pg-title{
	text-transform:uppercase;
}

.breadcrumb-block-wrp{
	border-bottom:1px solid #e4e4e4;
	 box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
	 -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
	padding:30px 0;
}

.breadcrumb-list li{
	float:left;
}

.breadcrumb-list li a, .breadcrumb-list li span{
	display:block;
	text-transform:uppercase;
	font-size:13px;
	position:relative;
	padding-right:20px;
	padding-left:14px;
	
}

.breadcrumb-list li a{
	color:#000000;
	font-weight:600;
}

.breadcrumb-list li span{
	color:#e82a2a;
}

.breadcrumb-list li a:hover{
	color:#e82a2a;
}

.breadcrumb-list li a::after{
	content:"\f105";
	font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
	color: #cccccc;
	font-size:18px;
	position: absolute;
    top: 0;
    right: 0;
}

.each-sidebar-block{
	margin-bottom:30px;
}

.serv-all-list ul li{
	display:block;
	clear:both;
}

.serv-all-list ul li a{
	display:block;
	border-bottom:1px solid #e4e4e4;
	padding:20px 0;
	text-transform:capitalize;
	font-weight:500;
	color:#898989;
	padding-left:16px;
}

.serv-all-list ul li:last-child a{
	border-bottom:none;
}

.serv-all-list ul li a:hover{
	color:#e82a2a;
}

.serv-all-list ul li.serv-active a, .serv-all-list ul li.serv-active a:hover{
	color:#ffffff;
	background:#e82a2a;
}

.sidebar-title{
	text-transform:uppercase;
	color:#181818;
	font-size:18px;
	padding-bottom:15px;
}

.brdr-lft-content::before{
	content:"";
	position:absolute;
	left:-30px;
	top:0;
	height:100%;
	width:1px;
	background:#e4e4e4;
}

.addr-list-side li{
	display:block;
	clear:both;
	margin-bottom:8px;
	margin-right:15px;
}

.addr-list-side li span{
	position:relative;
	background:#ededed;
	display:block;
	line-height:20px;
	padding:7px 7px 7px 45px;
	font-size:12px;
}

.addr-list-side li span::before{
	font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
	color: #e82a2a;
	font-size:18px;
	position: absolute;
    top: 5px;
    left: 10px;
}

.addr-list-side li span.addr-loc::before{
	content:"\f041";
	top: 14px;
}

.addr-list-side li span.addr-phone::before{
	content:"\f095";
}

.addr-list-side li span.addr-fax::before{
	content:"\f1ac";
}

.addr-list-side li span.addr-mail::before{
	content:"\f003";
}

.addr-list-side li span::after{
	content:"";
	width:1px;
	height:100%;
	background:#d8d8d8;
	position: absolute;
    top: 0;
    left: 35px;
}

.each-sidebar-block .dwnlod-bro{
	margin-left:0 !important;
	margin-right:15px;
}

.each-sidebar-block .dwnlod-bro em{
	font-size:12px;
}


.each-material-wrp{
	background:#ffffff;
	 box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
	 -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
	margin-bottom:15px;
	border:1px solid #e4e4e4;
}

.mate-img {
	padding:10px;
	margin-top: 7px;
}

.material-meta{
	padding:10px 0;
}

.m-title{
	font-weight:600;
	display:block;
	border-bottom:1px solid #e4e4e4;
	color:#000000;
	text-transform:uppercase;
}

.material-descrip p{
	padding-bottom:0;
}

.material-meta .link-txt{
	font-size:13px;
}

.lSSlideOuter .lSPager.lSGallery li.active, .lSSlideOuter .lSPager.lSGallery li:hover {
    border:2px solid #e82a2a;
}

.brdr-rht-content::before{
	content:"";
	position:absolute;
	right:-30px;
	top:0;
	height:100%;
	width:1px;
	background:#e4e4e4;
}

.rht-sidebar{
	margin-left:15px;
}

.info-table{
	background:#ffffff;
	 box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
	 -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
	margin-bottom:15px;
	border:1px solid #e4e4e4;
	width:100%;
}

.info-table td, .info-table th {
    border-bottom: 1px solid #e5e5e5;
    padding: 16px 23px;
    position: relative;
    vertical-align: middle;
}

.info-table th {
    font-weight: 400;
    text-align: center;
    width: 63px;
	border-right:1px solid #e4e4e4;
}

.info-table td::after, .info-table th::after {
    background-color: #fff;
    content: "";
    height: 1px;
    position: absolute;
    top: -1px;
    width: 2px;
}

.info-table th::after {
    right: 0;
}

.info-table-row:first-os-type > *::after {
    display: none;
}

.info-table td {
    border-left-style: none;
}

.info-table td::after {
    left: 0;
}

.info-table-icon em{
	color:#e82a2a;
	font-size:17px;
}

.info-table-content{
	color:#000000;
	text-transform:capitalize;
}

.submit-btn:hover{
	background:#a91515;
}

.dwnlod-brochure-wrp{
	background:#e82a2a;
}

.broch-content a{
	display:table;
	margin:0 auto;
	position:relative;
	color:#ffffff;
	padding-left:35px;
	text-transform:uppercase;
	font-size:17px;
	font-family: 'Montserrat', sans-serif;
}

.broch-content a::before{
	content:"\f1c1";
	font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
	color: #ffffff;
	font-size:27px;
	position: absolute;
    top: -4px;
    left: 0;
}

.spec-table th{
	width:40% !important;
	text-align:left !important;
}


.spec-table td{
	width:60% !important;
}

.spec-table th span{
	text-align:left;
	color:#000000;
	display:block;
	font-weight:600;
}

.get-quote{
	display:block;
	background:#e82a2a;
	position:absolute;
	height:60px;
	right:0;
	top:0;
	color:#ffffff;
	text-transform:uppercase;
	font-family: 'Montserrat', sans-serif;
	padding:0;
	padding:0 12px;
}

.get-quote em{
	position:relative;
	display:block;
	padding:0 35px;
	line-height:60px;
}

.get-quote em::before{
	content:"\f0ac";
	font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
	color: #ffffff;
	font-size:16px;
	position: absolute;
    top: 0;
    left: 10px;
}

.pagination{
	background:#ffffff;
}

.pagin-active a, .pagination li a:hover, .pagination li.pagin-active a:hover{
	background:#e82a2a !important;
}

.pagination li a span{
	text-transform:uppercase;
}

.each-news{
	margin-bottom:30px;
}

.news-content-box{
	background:#ffffff;
	 box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
	 -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
	border:1px solid #e4e4e4;
}

.news-title{
	display:block;
	padding-left:16px;
	color:#000000;
	border-bottom:1px solid #e4e4e4;
	padding:15px;
	text-transform:uppercase;
	font-size:21px;
	font-family: 'Montserrat', sans-serif;
}

.news-meta{
	padding:16px;
	border-bottom:1px solid #e4e4e4;
}

.news-meta ul li{
	float:left;
	margin-right:16px;
}
.welcome-sec .welcome-txt
{
	font-family: 'Kaushan Script', cursive !important;
	padding-bottom: 15px;

}
.welcome-sec .title-txt
{
	font-family: 'Chicle', cursive !important;
	color:#0caad1;
	font-size:80px;
}

.news-meta ul li span{
	display:block;
	position:relative;
	padding-left:24px;
	font-size:12px;
	text-transform:capitalize;
	font-family: 'Montserrat', sans-serif;
}

.news-meta ul li span::before{
	font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
	color: #e82a2a;
	font-size:14px;
	position: absolute;
    top: 2px;
    left: 0;
}

.news-meta ul li span.news-date::before{
	content:"\f073";
}

.news-meta ul li span.news-author::before{
	content:"\f007";
}

.news-meta ul li span.news-cat::before{
	content:"\f02e";
}

.info-cat a{
	display:inline-block;
	font-style:italic;
}

.info-cat a:hover{
	color: #e82a2a;
}

.cat-all-list li a{
	position:relative;
	padding:15px 30px !important
}

.cat-all-list li a::before{
	content:"\f02e";
	font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
	color: #e82a2a;
	font-size:14px;
	position: absolute;
    top: 18px;
    left: 8px;
}

.list-group {
	margin-bottom: 20px;
	padding-left: 0;
}

.list-group-item:first-child {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.treeview .list-group-item {
	cursor: pointer;
}
.list-group-item {
	background-color: #fff;
	border: 1px solid #ddd;
	display: block;
	margin-bottom: -1px;
	padding: 10px 15px;
	position: relative;
}

.image-gallery > li
{
    display: block;
    float:left;
    margin:0 15px 15px 0;
    border:1px solid #e4e4e4;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.image-gallery > li > a
{
    display:block;
    width:150px;
    height:150px;
    background:#fff;
}
.image-gallery .default
{
    position:relative;
    border:2px solid #444;
}
.image-gallery .default::before
{
    position:absolute;
    content:"\f058";
    right: -7px;
    top: -20px;
    font-family:fontawesome;
    font-size:24px;
    color:#AED136;
}

.autocomplete-suggestions
{
    background: #ffffff;
    overflow: auto;
    border-top: 1px solid #e0e0e0;
    box-shadow: 2px 3px 5px -1px rgba(0, 0, 0, 0.5);
}
.autocomplete-suggestion
{
    cursor:pointer;
    color:#111;
    height:40px;
    padding:10px 5px !important;
}

.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

.login-body
{
    position:relative;
    background:url("../images/login-image2.jpg") center center no-repeat;
    background-size:cover;
    width:100%;
    float:left;
}
.login-body::before
{
    background-color:rgba(0,0,0,0.55);
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    content:"";
}

.login-body .s-form-group
{
    min-height:105px;
}
.login-wrp
{
    padding:0;
}

.login-sec
{
    background-color:rgba(0,0,0,0.7);
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1)!important;
}

.login-logo
{
    display: block;
    width:50px;
}
.login-btn
{
    width:100px !important;
    background-color:#e82a2a !important;
    color:#222 ;
    padding:6px 5px !important;
    border-radius:10px;

}

.login-btn:hover
{
    background-color:#fff !important;
    color:#e82a2a;
}
.login-sec label , .sign-up-sec label
{
    color:#fff;
}

.login-img
{
    display:table;
    margin:0 auto;
    width:100px;
}
.login-wrp
{
    padding:110px 0;
    height:100%;
}
.edit-block .main-title
{
    color:#0caad1 !important;
}
.custom-form
{
    padding:35px 15px;
    width:100%;
    position:relative;
    float:left;
    background:#f9f9f9;
}
.custom-form label , .view-item label
{
    padding-right:10px;
    min-width:125px;
    color:#111;
    font-size:18px;
}
.custom-form .s-form-group ::-moz-placeholder
{
    font-size:14px;
    color:#666;
}
.custom-form .s-form-group input
{
    font-size:15px;
    color:#111;
}
.custom-form .s-form-group textarea
{
    width:60%;
    background:#f6f8f8;
    padding-top: 7px;
}
.custom-form .form-btn
{
    width:160px !important;
    line-height:30px;
    background:#ccc;
}

.custom-form .form-btn:hover
{
    background-color:#e82a2a;
    color:#fff;
}
.custom-form .s-form-group input:focus , .custom-form .s-form-group textarea:focus
{
    border:1px solid #e82a2a;
    box-shadow: 6px 8px 4px rgba(186, 186, 213, 0.57);
}
.custom-form .s-form-group input , .custom-form .s-form-group textarea
{
    border-radius:7px;
}
.custom-form .s-form-group input[type='checkbox']
{
    opacity:1;
}
.custom-form select
{
    background:#f6f8f8;
    border:none;
    height:40px;
}
.counter-sec input[type="button"]
{
    width:40px !important;
    height:30px;
    border-radius:10px;
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #f4511e 0px, #d84315 100%)!important;
    color:#fff;
}
.counter-sec label
{
    text-align:right;
}
.top-pad
{
    padding-top:20px;
}
.image-gallery > li
{
    display: block;
    float:left;
    margin:0 15px 15px 0;
    border:1px solid #e4e4e4;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.image-gallery > li > a
{
    display:block;
    width:150px;
    height:150px;
    background:#fff;
}
.image-gallery .default
{
    position:relative;
    border:2px solid #444;
}
.image-gallery .default::before
{
    position:absolute;
    content:"\f058";
    right: -7px;
    top: -20px;
    font-family:fontawesome;
    font-size:24px;
    color:#AED136;
}
.img-btns
{
    overflow:hidden;
    display:table;
    margin:0 auto;
}
.img-btns li
{
    display:block;
    float:left;
    margin-right:15px;
}
.img-btns li a i
{
    color:#111;
}
.each-variant section
{
    padding: 10px;
    background:#f9f9f9;
    border:1px solid #e4e4e4;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1);
    margin:10px 0;
    width:60%;
    display:block;
    float: left;
}

.product-title a{
    display:block;
    font-size:20px;
    font-weight:500;
    text-transform:capitalize;
    color:#222 !important;

}
.product-title a:hover
{
    color:#e82a2a !important;
}


.product-content .btn-wrp .pg-btn{
    padding:7px;
    font-size:13px;
    position:relative;
}

.product-content .btn-wrp .pg-btn i{
    padding-right:7px;
}
.ui-green {
    color: #53bf74;
}
.variant-box
{
    padding:10px 0;
    margin:10px 0;
    background:#f9f9f9;
}
.variant-box label
{
    padding:0 10px;
    text-transform:capitalize;
    font-size:16px;
    min-width:130px;
}
.variant-box select
{
    width:30%;
    font-size:13px;
    height:32px;

}
.add-cart-list li, .wish-list li {
    display: block;
    float: left;
    padding-right: 20px;
}
.spin-txtbox {
    border: 1px solid #eeeeee !important;
    color: #222 !important;
    margin: 0 10px;
    width: 50px !important;
}
.add-cart-list .pg-btn {
    padding: 9px;
}
.pg-btn {
    background: #1cada6 none repeat scroll 0 0;
    border-radius: 5px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    color: #fff !important;
    display: inline-block;
    overflow: hidden;
    padding: 10px;
    position: relative;
    text-transform: uppercase;
    transition-duration: 0.5s;
    transition-property: color;
}
.pg-btn:hover {
    background: #e82a2a none repeat scroll 0 0;
}
.tab-block .resp-tabs-list {
    margin: 0 auto !important;
    padding-bottom: 20px !important;
}

.tab-block .resp-tabs-list {
    margin: 0 auto !important;
    padding-bottom: 20px !important;
}
.tab-block .resp-tab-item {
    background:#fff ;
    color: #111;
    position: relative;
    font-weight:500;
}
.tab-block .resp-tab-active
{
    background:#D71744 !important;
    color:#fff;
    position: relative;
    border:none !important;
}
.tab-block .resp-tab-active:hover
{
    color:#fff !important;
}




.tab-block .resp-tab-item::after {
    background-color: #222;
    bottom: 2px;
    content: "";
    height: 2px;
    left: 0;
    opacity: 0;
    position: absolute;
    width: 100%;
}
.tab-block .each_tab_content {
    border: medium none !important;
}

.tab-block .review-list li {
    display: block;
    float: left;
    padding-right: 15px;
}
.tab-block .each-review
{
    margin:10px 0;
}
.tab-block .review-form input , .review-form textarea
{
    width:100%;
    border:1px solid #e4e4e4;
    font-size: 11px;
    background:none;
}
.tab-block .review-form input:focus , .review-form textarea:focus
{
    border-color:#1CADA6;
}
.tab-block .review-form .pg-btn
{
    margin-top: 10px;
}
.resp-tab-content
{
    border:none;
}
.custom-tab .resp-tab-active
{
    opacity:1 !important;
}
.custom-tab
{
    padding:15px 0;
}
.custom-tab .each_tab_content
{
    background-color:#f9f9f9;
}

.custom-tab .resp-tabs-list li
{
    background-color:#fff;
    color:#333;
}
.custom-tab .resp-tab-active {
    background:#ef4a70 !important;
    color: #ffffff !important;
    border-color:#ef4a70 !important;
    font-size: 16px !important;
    position: relative;
}
.specific-list-param li , .specific-list-soln li
{
    background-color:#f9f9f9;
    color:#0000CC;
    padding:10px 5px;
    margin-bottom:10px;
    overflow:hidden;
}

.specific-list-param li span
{

    text-align:left;
    display:block;
    color:#111;
}

.specific-list-soln li span
{

    text-align: left;
    display:block;
    color:#555;
}
2 .item {
      border-radius: 3px;
      color: #fff;
      cursor: pointer;
      margin: 5px;
      padding: 10px 0;
      text-align: center;
  }
#sync1 .item {
    border-radius: 3px;
    color: #fff;
    margin: 5px;
    text-align: center;
}
.thumbnail {
    display: block;
    overflow: hidden;
    width: 100px;
}
#sync1 .owl-controls .owl-buttons div
{
    background: none;

}
#sync1 .owl-controls .owl-prev , #sync1 .owl-controls .owl-next
{
    position:relative;
}
#sync1 .owl-controls .owl-prev::before
{
    position:absolute;
    font-family:fontawesome;
    content:"\f053";
    font-size:11px;
    color:#666;
    top:0;
    left:0;
}
#sync1 .owl-controls .owl-next::before
{
    position:absolute;
    font-family:fontawesome;
    content:"\f054";
    font-size:11px;
    color:#666;
    top:0;
    left:0;
}
.cover-pic {
    border: 1px solid #eeeeee;
    padding: 5px;
}
.full-cvr-baner {
    display: block;
    position: relative;
    width: 100%;
}
.full-cvr-baner img {
    height: 350px;
}
.s-full-img::before
{
    position:absolute;
    content:"";
    width:100%;
    height: 100%;
    background-color:rgba(0,0,0,0.65);
    top:0;
    left:0;
}
.hide
{
    display:none !important;
}
.item .thumbnail img {
    height: 80px;
    overflow: hidden;
}

.title-block .main-title
{
	width:50% !important;
	float:left;
}
.title-block .add-btn
{
	padding:10px;
	border-radius:10px;
	border:1px solid #e4e4e4;
	color:#e82a2a;
	display:block;
	float:right;
}
.title-block .add-btn i
{
	font-size:15px;
	color:#e82a2a;
	padding-right:7px;
}
.title-block .add-btn:hover
{
	background-color:#e82a2a;
	color:#fff;
}
.title-block .add-btn:hover i
{
	color:#fff;
}
.search-block .search-input {
    border: 1px solid #e4e4e4;
    font-size: 13px !important;
    width: 50%;
}
.custom-table {

    width: 100%;
}
.custom-table th {
    background: #e82a2a none repeat scroll 0 0;
    border: 1px solid #e4e4e4 !important;
    color: #fff;
}
.custom-table td a {
    padding: 0 5px;
}
.action-btn {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #999;
    padding: 10px !important;
}
.custom-table td {
    background-color: #fff;
    color: #333;
    font-size: 17px;
    text-align: center;
}
.button-sec .page-btn {
	border: 1px solid #444;
	display: block;
	float: left;
	margin-right: 10px;
	padding:10px;
	border-radius: 10px;
	color: #e82a2a;
	width: 200px;
}
.page-btn i
{
	font-size:15px;
	color:#e82a2a;
	padding-right:7px;
}
.page-btn:hover
{
	background-color:#e82a2a;
	color:#fff;
}
.page-btn:hover i
{
	color:#fff;

}
.cart-icon {
	position: relative;
}
.cart-icon a i {
	font-size: 24px;
	line-height:60px;
	position: relative;
}

.cart-icon .cart-counter {
	background-color: rgb(12, 170, 209);
	border-radius: 100%;
	color: #fff;
	content: "";
	font-size: 10px;
	height: 20px;
	line-height: 20px;
	position: absolute;
	right:0;
	text-align: center;
	top: 5px;
	width: 20px;
}
.custom-form input , .custom-form textarea
{
    width: 100% !important;
}
.title-strip
{
    position:relative;
    padding:20px 0;
    background:url(../images/slide-1.jpg) center center fixed;
}
.title-strip::before{
    background-color: rgba(0,0,0,0.1);
    content: "";
    height: 100%;
    position: absolute;
    left:0;
    top:0;
    width: 100%;
}
.each-service
{
    padding: 10px;
    border:1px solid #e4e4e4;
    box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.5);
    min-height:250px ;
    margin-bottom:20px;

}
.service-img
{
    display: block;
    float:left;
    margin:0 20px 20px 0;
    width:200px;
}
.each-service h5
{
    font-size:20px;
    color: #000;
    font-weight:600;
    letter-spacing:2px;
}




/*responsive*/

@media (max-width: 1109px) {
	
	.logo-block::after{
		border-right: 51px solid transparent;
		right: -50px;
	}
	
	.quick-contact-block li{
		margin-right:16px;
	}
	
}

@media (max-width: 991px) {
	
	.rd-mobilepanel{
		background:#000000;
	}
    .main-wrp-product-details
    {
        padding-top:20px;
    }
	.header-wrp
	{
		overflow: hidden;
	}
	header
	{
		display: block;
	}
	.quick-contact-block
	{
		display: none;
	}
    .tile-stock-list
    {
        display:table;
        margin: 0 auto;
    }
    .add-cart-list
    {
        display: table;
        margin: 0 auto;
    }
	
	.rd-hm{
		margin-left:-105px;
	}
	
	.rd-hm a{
		margin-left: 65px;
		margin-top: 1px;
		width: 75px;
	}
	
	.rd-mobilepanel_toggle{
		background:#e82a2a;
	}
	
	.rd-mobilemenu_ul{
		background: rgba(255, 255, 255, 0.8);
	}
	
	.rd-mobilemenu_ul a:hover{
		background:#e82a2a;
	}
	
	.rd-mobilemenu_ul a{
		text-transform:uppercase;
	}
	
	.rd-mobilemenu_submenu{
		background: rgba(235, 235, 235, 0.8);
	}
	
	.rd-mobilemenu_submenu li a {
    	font-size: 13px !important;
	}
	
	.top-header-wrp{
		margin-top:50px;
	}
	
	.q-addr, .top-social-media ul, .serv-info-title{
		display:table;
		margin:10px auto;
		float:none;
	}
	
	.flexslider li .meta{
		bottom:110px;
		width: 90%;
		left:50%;
		margin-left: -445px;
	}
	
	.flex-direction-nav{
		bottom:115px;
		left:50%;
		margin-left:-10px;
	}
	
	.flexslider li h1, .slide-meta p, .testi-au, .m-title, .link-txt{

		display:block;
	}
	
	.feat-title, .feat-content-block p{
		text-align:left;
	}
	
	.feat-content-block {

		clear:both;
		position:relative;
		top:-21px;
	}
	
	.shrt-abt-content{
		width:100%;
	}
	
	.pg-btn, .sub-title, .footer-logo, .quick-contact-footer ul, .quick-nav-footer ul, .social-nav-footer ul, .footer-content > span, .news-meta ul{
		display:table;
		margin:0 auto;
	}
	
	.btn-shadow{
		display:table;
		margin:0 auto;
		left:0;
	}
	
	.sub-title::before, .footer-title::before{
		left:50%;
		margin-left:-28px;
	}
	
	.sub-title{
		margin-bottom:20px;
		line-height:32px;
	}
	
	.quick-contact-footer ul{
		margin-top:20px;
	}
	
	.quick-nav-footer li{
		width:auto;
		margin-right: 15px;
	}
	
	.broch-content a{
		font-size:13px;
		text-align:center;
		padding-top:35px;
	}
	
	.broch-content a::before{
		 left: 50%;
    	 margin-left: -7px;
    	top: 0;
	}
	
	.each-sidebar-block .dwnlod-bro{
		margin:0 auto !important;
	}
	
	.info-sol-img-col{
		display:none;
	}
	
	.news-title{
		text-align:center;
	}
	
	.addr-list-side li, .serv-all-list li{
		margin-right: 32px;
	}
	.logo-a
	{
		display: table;
		margin:0 auto;
	}
	.logo-block
	{
		padding:20px 0;
	}
	.quick-contact-block ul
	{
		display: table;
		margin: 0 auto;
		overflow: hidden;

	}
	.quick-contact-block
	{
		float: none;

	}


	
}

@media (max-width: 767px) {
	.flexslider li .meta{
		display:none;
	}
	
	.flex-direction-nav{
		left:auto;
		width:100%;
		margin-left:15px;
		bottom: 85px;
	}
	
	.flex-direction-nav .flex-prev, .flexslider:hover .flex-prev{
		left:0;
	}
	
	.flex-direction-nav .flex-next, .flexslider:hover .flex-next{
		left:35px;
	}
	.footer-logo
	{
		width:100px;
	}
	
	
}

@media (max-width: 591px) {

	.logo-block
	{
		padding:10px 0;
	}
    .logo-a{
        display:block;
        width:70px;
    }
}
@media (max-width: 500px) {
	.q-addr{
		font-size:12px;
	}

	.top-header-wrp
	{
		padding:10px 0;
	}
}


.modal {
	display:    none;
	position:   fixed;
	z-index:    1000;
	top:        0;
	left:       0;
	height:     100%;
	width:      100%;
	background: rgba( 255, 255, 255, .8 )
	url(../images/ajax-loader.gif)
	50% 50%
	no-repeat;
}
body.loading .modal {
	display: block;
}


